.title {
  text-align: center;
  font-size: 45pt;
}

.div {
  text-align: center;
}

.flexV {
  align-self: center;
}

.input {
  width: 23%;
  padding: 10pt 20pt;
  margin: 4pt;
  box-sizing: border-box;
}

.inputUi {
  margin: 10pt;
  width: 20vw;
}

.button {
  padding: 10pt 15pt;
  font-weight: 650;
}

.buttonUi {
  margin-top: 14pt;
}

.todo {
  text-align: center;
  width: 23.5%;

}

.delete {
  margin: 10pt 25pt;
  color: black;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}