.title {
  text-align: center;
  font-size: 45pt;
}

.div {
  text-align: center;
}

.flexV {
  margin: auto;
  text-align: center;
  width: 300pt;
}

.input {
  width: 23%;
  padding: 10pt 20pt;
  margin: 4pt;
  box-sizing: border-box;
}

.button {
  padding: 10pt 15pt;
  font-weight: 650;
}

.todo {
  background-color: red;

}